<form method="POST" action="/edit/id={{id}}" class="cat-form" enctype="multipart/form-data">
	<h2>Edit Cat</h2>
	<label for="name">Name</label>
	<input name="name" type="text" id="name" value="{{name}}" required />
	<label for="description">Description</label>
	<textarea name="description" id="description" required>{{description}}</textarea>
	<label for="image">Image</label>
	<input name="image" type="file" id="image" required />
	<label for="group">Breed</label>
	<select name="breed" id="group" required>
		<option value="{{breed}}">{{breed}}</option>
		{{options}}
	</select>
	<button>Edit Cat</button>
</form>
